# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# Ignore the processed dataset files
src/app/model/prepareDataset/processed_high_contrast.json
src/app/model/prepareDataset/processed_low_contrast.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore the figma_components folder
src/app/utils/figma_components/

# Ignore the figma_components folder
src/figma_components/

# Ignore the archive folder
archive/

# Ignore the data folder
data/

# Ignore large JSON
src/app/model/prepareDataset/prepared_data.json
src/app/model/prepareDataset/preprocessed_data.json
src/app/model/prepareDataset/processed_high_contrast.json
src/app/model/prepareDataset/processed_low_contrast.json

src/app/model/finetuning/trained_model/
